#FoodityKeycloak/.installation/*
#FoodityKeycloak/.well-known/*
#FoodityKeycloak/bin/*
#FoodityKeycloak/docs/*
#FoodityKeycloak/domain/*
#FoodityKeycloak/modules/*
#FoodityKeycloak/themes/*
#FoodityKeycloak/welcome-content/*
#FoodityKeycloak/jboss-modules.jar
#FoodityKeycloak/LICENSE.txt
#FoodityKeycloak/version.txt
#FoodityKeycloak/standalone/configuration
#FoodityKeycloak/standalone/deployments
#FoodityKeycloak/standalone/lib
#FoodityKeycloak/standalone/log
#FoodityKeycloak/standalone/tmp
#FoodityKeycloak/standalone/data/content/*
#FoodityKeycloak/standalone/data/kernel/*
#FoodityKeycloak/standalone/data/timer-service-data/*
#FoodityKeycloak/standalone/data/tx-object-store/*
#FoodityKeycloak/standalone/data/keycloak.lock
#FoodityKeycloak/standalone/data/keycloak.trace

FoodityKeycloak/*
!FoodityKeycloak/run_keycloak.sh
!FoodityKeycloak/standalone/data/keycloak.mv.db
gradlew
gradlew.bat
.idea