<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haxos.foodity">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.FoodityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Foodity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/authenticator"
        />

        <service
            android:name=".services.authentication.AuthenticationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"
            />
        </service>

        <activity
            android:name=".ui.boot.BootActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.authentication.AuthenticationActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haxos.foodity.ui.main.MainActivity" />
        </activity>
    </application>

</manifest>